extends layout.pug

block content
    style
        include ./styles/admin-dashboard.css

    div#admin-page
        div#left
            div#all-assignments
                h3 Assignments
                    span#add-button.material-symbols-rounded(onclick='openCreateAssignmentDialog()') add
                div#assignment-list
                    for assignment in assignments
                        div#assignment
                            p=assignment.title
                            button(onclick=`(openDeleteAssignmentModal(${assignment.id}))`)
                                span.material-symbols-rounded delete
            div#all-questions
                h3 Questions
                    span#add-button.material-symbols-rounded(onclick='openCreateQuestionDialog()') add
                div#question-list
                    for question in questions
                        div#question
                            details#question-details
                                summary
                                    p=` ${question.title}`
                                    button(onclick=`(openDeleteQuestionModal(${question.id}))`)
                                        span.material-symbols-rounded delete
                                p.italic=question.description
        div#right
            h3 Submissions
            div#student-submissions
                each submission, assignment in submissions
                    details
                        summary=` ${assignment}`
                        each user_submission in submission
                            p(onclick=`openViewSubmissionModal(${JSON.stringify({user_id: user_submission.user_id, assignment_id: user_submission.assignment_id})})`)=user_submission.users.name

        dialog#create-assignment
            form(action="/assignments/create", method="POST")
                h3 Create Assignment
                input(type="text" placeholder='Title' name='title')
                div#question-select
                    h3 Questions
                    each question in questions
                        #single-question-select
                            input(type="checkbox" id=`checkbox-${question.id}` name=`questions[${question.id}]` value=`${question.id}`)
                            label(for=`checkbox-${question.id}`)=question.title
                div#student-select
                    h3 Students
                    each student, idx in students
                        #single-student-select
                            input(type="checkbox" id=`checkbox-${student.id}` name=`users[${idx}]` value=`${student.id}`)
                            if student.name
                                label(for=`checkbox-${student.id}`)=student.name
                            else
                                label(for=`checkbox-${student.id}`)=student.email
                #dialog-controls
                    button(formmethod='dialog') Cancel
                    button#cta Create
        dialog#create-question
            form(action="/questions/create", method="POST")
                h3 Create Question
                input(type="text" placeholder='Title' name='title')
                textarea(name="description", cols="30", rows="10" placeholder='description')
                input(type="number" placeholder='Points' name='points')
                #dialog-controls
                    button(formmethod='dialog') Cancel
                    button#cta Create

        dialog#delete-assignment
            form(action='/assignments/delete' method='POST')
                input(type="hidden" name='id')
                h3 Are you sure?
                p There is dependant data that might be deleted if you delete this Assignment, such as student's assignments that have already been submitted or worked on.
                #dialog-controls
                    button(formmethod='dialog') Cancel
                    button#cta Confirm Delete

        dialog#delete-question
            form(action='/questions/delete' method='POST')
                input(type="hidden" name='id')
                h3 Are you sure?
                p There is dependant data that might be deleted if you delete this Question. This question will be removed from any Assignments it was included in.
                #dialog-controls
                    button(formmethod='dialog') Cancel
                    button#cta Confirm Delete

        dialog#view-submission
            #submission-content
                button#close-button-submission(onclick='closeSubmissionModal()')
                    span.material-symbols-rounded close
                #list-of-submission-questions
                    p question 1
                    p question 2
                #code-and-output
                    h3 Code
                    pre#code="This submission is empty"
                    h3 Output
                    div#output-container
                        pre#output
                        textarea#input
                button(onclick='runitAdmin()') Run Code

        script
            include ./scripts/skulpt/skulpt.min.js
        script
            include ./scripts/skulpt/skulpt-stdlib.js
