extends layout.pug 

block content
    style
        include ./styles/repl.css
        include ./styles/assignment.css

    div.repl
        div.controls
            input#filename(type='text' placeholder='app.py' name='filename' disabled readonly value=`${currentAssignment.title}`)
                        
            div.controls-buttons
                button(onclick="saveQuestionForAssignment()")
                    p Save
                    span.material-symbols-rounded cloud_download
                //- form(method="POST", action=`/user_assignments/${currentAssignment.user_assignments[0].id}`)
                    button Submit
                        span.material-symbols-rounded task_alt
                button(onclick="openSubmitDialog()")
                    p Submit
                    span.material-symbols-rounded task_alt
                button#run-code(onclick="runit()")
                    p Run
                    span.material-symbols-rounded arrow_forward

        div#question-list
            for question in currentAssignment.assignment_questions
                button(data-question=`${JSON.stringify(question)}` onclick=`updateAssignmentRepl(${JSON.stringify(question)})`)#question=question.questions.title
        div.ide
            div#editor
            div#output-container
                pre#output
                textarea#input
        
        dialog#submit-assignment
            div#submit-dialog-content
                span.material-symbols-rounded warning
                h3 Are you sure?
                p Once you submit this assignment, you will <strong>NOT</strong> be able to work on it again.
                div#submit-dialog-controls
                    button(onclick="closeSubmitDialog()") Cancel
                    form(method="POST", action=`/user_assignments/${currentAssignment.user_assignments[0].id}`)
                        button Submit
                            span.material-symbols-rounded task_alt
                

    script
        include ./scripts/editor/editor.js
    script
        include ./scripts/skulpt/skulpt.min.js
    script
        include ./scripts/skulpt/skulpt-stdlib.js
    script
        include ./scripts/skulpt/skulpt.js
    script 
        include ./scripts/assignmentPageLoad.js
